# Activar RewriteEngine
RewriteEngine on
 
# Reescribir la URL solicitada por el usuario
#   Entrada:  clientes/NOMBRE/
#   Salida: clientes.php?id=NOMBRE

RewriteRule ^home/?$ index.php
RewriteRule ^nosotros/?$ about.php
RewriteRule ^exito_carrito/?$ exito_compra.php
RewriteRule ^carrito/?$ carrito.php
RewriteRule ^busqueda/(\w+)/$ search.php?search=$1
RewriteRule ^busqueda/(\w+)/(\w+)/$ search.php?search=$1&page=$2
RewriteRule ^contacto/?$ contact.php
RewriteRule ^seccion/(\w+)/$ section.php?id_categoria=$1
RewriteRule ^subseccion/(\w+)/$ subsection.php?id_categoria=$1
RewriteRule ^subseccion/(\w+)/(\w+)/$ subsection.php?id_categoria=$1&page=$2
RewriteRule ^producto/(\w+)/$ product.php?id_producto=$1